@font-face {
  font-family: Overpass-Light;
  src: url(./assets/font/Overpass-Light.ttf);
}

@font-face {
  font-family: Overpass-SemiBold;
  src: url(./assets/font/Overpass-SemiBold.ttf);
}

@font-face {
  font-family: Overpass-Regular;
  src: url(./assets/font/Overpass-Regular.ttf);
}

body {
  background-color: #0b1622;
  font-family: Overpass-Light;
}

.svgfill {
  filter: invert(56%) sepia(96%) saturate(686%) hue-rotate(171deg) brightness(97%) contrast(95%);
  vertical-align: sub;
}

.searchbutton, .downloadbutton{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.container {
  width: 100%;
  padding-top: 35px;
  margin-bottom: 5px;
  color: #ffffff;
  display: inline-block;
  text-align: center
}

.allitems {
  width: 820px;
  height: 1250px;
  display: inline-block;
  text-align: center
}


.allitems .item {
  float: left;
  overflow: hidden;
}

.item {
  width: 400px;
  height: 115px;
  background-color: #151f2e;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
}

.item .cover img {
  width: 80px;
  height: 115px;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.item .allitems_right {
  float: left;
  width: 320px;
  text-align: center;
  overflow: hidden;
}

.allitems .item_name {
  float: left;
  width: 100%;
  line-height: 23px;
  margin: 0px;
  background-color: #202f45
}

h3.item_name {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  color: #3db4f2
}

/*.allitems_right .item_chapter a {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}*/

.allitems_right span {
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  width: 100%;
  margin-top: 5px;
}

.allitems_right .item_chapter_left {
  float: left;
  width: 47%;
  margin: 3px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
}

.allitems_right .item_chapter_right {
  float: right;
  width: 47%;
  margin: 3px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
}

/*.allitems_right .item_pages a {
  padding: 8px 12px;
  text-transform: uppercase;
  color: #fff;
  font: 700 11px sans-serif;
  background: #151f2e;
  display: inline-block;
  margin-right: 5px;
}*/

.item_pages a.active {
  background: #3db4f2 !important;
  color: #202f45 !important;
}

.soloitems {
  width: 820px;
  height: 1250px;
  display: inline-block;
  text-align: center
}

.soloitems .item {
  float: left;
  overflow: hidden;
}

.soloitems .cover img {
  float: left;
  width: 220px;
  height: 330px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.soloitems .manga-info {
  width: 600px;
  height: 330px;
  display: inline-block;
  position: relative;
}

.manga-info .item_name {
  width: 100%;
  margin: 0px;
  background-color: #202f45
}

.manga-info h1.item_name {
  font-family: Overpass-SemiBold;
  font-size: 30px;
  margin-bottom: 0;
  color: #3db4f2
}

.manga-info .item_name_alt {
  width: 100%;
  margin: 0px;
  background-color: #202f45
}

.manga-info h2.item_name_alt {
  font-family: Overpass-Light;
  font-size: 15px;
  margin-top: 0px;
  color: #2ca1db
}

.manga-info .manga_items_info {
  text-align: center;
  margin-bottom: 0px;
}

.description:hover {
  overflow-y: scroll;
}

.manga-info .scrollbox {
  font-family: Overpass-Light;
  font-size: 17px;
  margin: 5px;
  max-height: 200px;
  overflow: auto;
  visibility: hidden;
}

.description-content,
.scrollbox:hover,
.scrollbox:focus {
  visibility: visible;
}

.manga-info .author {
  font-family: Overpass-Regular;
  font-size: 17px;
  margin-bottom: 0px;
  overflow: hidden;
  position: absolute;
  width: 600px;
  bottom: 60px;
  right: 25%;
  left: 30%;
  margin-left: -300px;
}

.manga-info .status {
  font-family: Overpass-Regular;
  font-size: 17px;
  margin-bottom: 0px;
  overflow: hidden;
  position: absolute;
  width: 600px;
  bottom: 60px;
  right: 25%;
  left: 70%;
  margin-left: -300px;
}

.manga-info .lastupdate {
  font-family: Overpass-Regular;
  font-size: 17px;
  margin-bottom: 0px;
  overflow: hidden;
  position: absolute;
  width: 600px;
  bottom: 35px;
  right: 25%;
  left: 50%;
  margin-left: -300px;
}

.manga-info .genrediv {
  font-family: Overpass-Light;
  font-size: 13px;
  margin-bottom: 0px;
  overflow: hidden;
  position: absolute;
  width: 600px;
  bottom: 0px;
  right: 25%;
  left: 50%;
  margin-left: -300px;
}

.manga-info .genrediv .genre {
  display: inline-block;
  padding: 5px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 5px;
}

.genre {
  color: #fff;
  background-color: #202f45;
  margin-right: 3px;
}

.soloitems .manga-chapters {
  height: inherit;
  margin-top: 7px;
  background-color: #000000
}

.manga-chapters-container {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.manga-chapters-info {
  margin-top: 10px;
  margin-left: 220px;
  float: left;
}

.manga-chapters-info span {
  float: left;
}

.manga-chapters-info .chapters-infos {
  padding-right: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 0px;
  margin-top: 10px;
  background-color: #202f45;
  color: #3db4f2;
  font-family: Overpass-SemiBold;
  font-size: 20px;
}

/*.manga-chapters-info .chapters-infos span {

}*/

.manga-chapters-info span:nth-of-type(1) {
  width: 85%;
  text-align: left;
  margin-left: 5px;
}

.manga-chapters-info span:nth-of-type(2) {
  text-align: left;
}

.manga-chapters-info .row {
  float: left;
  width: 100%;
  overflow: hidden;
  margin-top: 5px;
}

.manga-chapters-info .row:not(.chapters-infos):hover{
  color: #3db4f2 !important;
  background-color: #0b16229e !important;
}

.manga-chapters-info .row:not(.chapters-infos).active{
  color: #3db4f2 !important;
  background-color: #0b16229e !important;
}

.manga-chapters-info .row.down{
  color: #153c52 !important;
  background-color: #0b16229e !important;
}


.manga-chapters-info .chapter-list {
  float: left;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  visibility: hidden;
  margin-top: 5px;
}

.chapter-list-content,
.scrollbox:hover,
.scrollbox:focus {
  visibility: visible;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background: #0b16229e;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: #202f45;
  border-radius: 3px;
}

::-webkit-scrollbar-track-piece {
  background: #202f45;
  border-radius: 3px;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}

#myProgress {
  width: 95%;
  background-color: #0b16229e;
  float: left;
}

#myBar {
  width: 1%;
  height: 15px;
  background-color: #202f45;
  float: left;
}

body {
  background-color: #0b1622;
  color: #3db4f2;
}

.container2 {
  width: 95%;
}

.container2 .manganame {
  float: left;
}

.container2 .chapternumber {
  float: right;
}

.container2 .packed {
  clear: both;
}

.container2 .deleted {
  clear: both;
}

.container2 .myProgress {
  border-radius: 10px;
  background-color: #060c13;
  clear: both;
}

.container2 .myBar {
  width: 0%;
  height: 10px;
  border-radius: 10px;
  background-image: linear-gradient(to left, #02a9ff, #71cfff);
  clear: both;
}